absl-py==0.13.0
aniso8601==9.0.0
argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
autoscraper==1.1.12
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.1
bokeh==2.3.3
bs4==0.0.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.6
django-allauth==0.44.0
entrypoints==0.3
et-xmlfile==1.1.0
eth-hash==0.3.1
eth-typing==2.2.2
Flask==1.1.2
Flask-HTTPAuth==4.2.0
flask-ngrok==0.0.25
Flask-RESTful==0.3.8
flatbuffers==1.12
gast==0.4.0
google==3.0.0
google-api-core==2.0.1
google-api-python-client==2.19.1
google-auth==1.32.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleAPI==0.1.0
googleapis-common-protos==1.53.0
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
httplib2==0.19.1
idna==2.10
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
jellyfish==0.8.2
Jinja2==2.11.3
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lib50==1.1.11
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.2
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.16
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.8.0
PyJWT==2.0.1
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2021.1
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.1
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scrapingant-client==0.3.6
selenium==3.141.0
Send2Trash==1.7.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
submit50==3.0.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlwt==1.3.0
