[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        missing-function-docstring,

[SPELLING]
spelling-dict=en_US
spelling-private-dict-file=private-dictionary.txt
