name: Android Release

on:
  push:
    branches: [ main ]
jobs:
  version:
    name: Create version number
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Fetch all history for all tags and branches
      run: |
        git fetch --prune --depth=10000
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
          versionSpec: '5.x'
    - name: Use GitVersion
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
    - name: Create version.txt with nuGetVersion
      run: echo ${{ steps.gitversion.outputs.nuGetVersion  }} > version.txt
    - name: Upload version.txt
      uses: actions/upload-artifact@v2
      with:
        name: gitversion
        path: version.txt
  build:
      name: Build APK and create release
      needs: [ version ]
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      # - uses: dart-lang/setup-dart@v1.3
      #   with:
      #     sdk: '2.x'
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.5.x'
      - name: Get version.txt
        uses: actions/download-artifact@v2
        with:
          name: gitversion
      - name: Read version
        id: version
        uses: juliangruber/read-file-action@v1
        with:
          path: version.txt
      - run: cd app/flutter_app/cp_ing/ && flutter pub get
      - run: cd app/flutter_app/cp_ing/ && flutter test
      - run: cd app/flutter_app/cp_ing/ && flutter build apk --release --split-per-abi
      - run: cd app/flutter_app/cp_ing/ && flutter build appbundle
      - name: Create a Release in GitHub
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/flutter_app/cp_ing/build/app/outputs/apk/release/*.apk,app/flutter_app/cp_ing/build/app/outputs/bundle/release/app-release.aab"
          token: ${{ secrets.CI_TOKEN }}
          tag: ${{ steps.version.outputs.content }}
          commit: ${{ github.sha }}